* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased !important;
}

body {
    margin: 2%;
    justify-content: center !important;
    width: 100% !important;
}

.box-wrapper {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#box1 {
    padding: 0px;
}

#box2 {
    padding: 0px;
}

#box3 {
    padding: 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

#box4 {
    flex-grow: 100;
}

.middle-column {
    display: flex;
    flex-direction: column;
    height: fit-content;
    
}

.middle-column div {
    flex-grow: 1;
    width: fit-content;
    justify-content: center;
    margin-block-start: 10px;
}

.blueB {
    background-color: rgb(218, 247, 255);

}
.redB {
    background-color: rgb(255, 218, 218);

}


#box8 {
    flex-grow: 1;
}
.inp  {

    padding: 16px 3px;
    border: none;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    color: #a9b8c9;
    transition: all 240ms ease-out;
    width: fit-content;
  }
  .inp::placeholder {
    color: #6d7f8f;
  }
  .inp:focus {
    outline: none;
    color: #6d7f8f;
    background-color: #eff5fa;
  }

  .axis {
    opacity: 0.7;
    
  }
  .axis:hover {
    opacity: 1;
  }
  #chart{
    position:absolute;
    width:500px;
    height:500px;
    top:0;
    left:0;
}
#question{
    position: absolute;
    width:400px;
    height:500px;
    top:0;
    left:520px;
}
#question h2{
    font-size: 50px;
    font-weight: bold;
    font-family: "Helvetica Neue", }